* {
  box-sizing: border-box;

}

header {
color: white;
background-color: rgb(21, 21, 101);
font-size: x-large;
padding: 10px;
padding-bottom: 20px;
border-radius: 10px;
border-color: black;
}


#todays-weather {
  border-style: solid;
  border-color:  rgb(21, 21, 101);
}

#sidebar {
  padding-top: 15px;
  padding-left: 20px
}

.future{
  margin: 10px;
  border-style: solid;
  border-color:  rgb(21, 21, 101);
}

#bigcol {
  position: static;
  padding-top: 15px;
}
